<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <nav class="nav">
      <i class="uil uil-bars navOpenBtn"></i>
      <a href="#" class="logo">CodingLab</a>
      <ul class="nav-links">
        <i class="uil uil-times navCloseBtn"></i>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create User</a></li>
        <!-- <li><a href="#">Products</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li> -->
      </ul>
      <i class="uil uil-search search-icon" id="searchIcon"></i>
      <div class="search-box">
        <i class="uil uil-search search-icon"></i>
        <input type="text" placeholder="Search here..." />
      </div>
    </nav>

    <div class="table-container">
      <h2 class="table-title">List Users</h2>
      <table class="fancy-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% listUsers.forEach(function(lUser) { %>
          <tr>
            <td><%= lUser.id %></td>
            <td><%= lUser.name %></td>
            <td><%= lUser.email %></td>
            <td><%= lUser.city %></td>
            <td class="action-cell">
              <button class="action-btn edit-btn">Edit</button>
              <button class="action-btn delete-btn">Delete</button>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <!-- <%= JSON.stringify(listUsers) %> -->
    </div>
  </body>
</html>
